
 *{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color:#3d3d3d;
	text-decoration: none;
}
html, body {
	overflow-x: hidden;
  }
 body {
	width:100%;
	background-color: #ffffff;
  }
.nav-link{
	font-size: 18px;
	color: #E42003;
}
.myNav{
	margin-right: 4rem;
}
.nav-link:hover{
	background-color: #9c9c9c4d;
	border-radius: 8px;
}
.myNav ul li a:active{
	background-color: #8341044d;
	color: #ffffff;
	
}


.image-container {
	margin-top: 10%;
    position: relative;
    width: 100%;
    height: 100%;
}
.image-container img{
	width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
	display: block;
    background: #091992b6;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* #091992b6 */
.image-container .after-head{
	color: white;
	margin-top: -20vh;
	margin-left: 1vw;
}
.image-container .after-head h1{
	color: rgb(255, 255, 255);
	font-weight: 900;
	/* line-height: 8vh; */
}
.image-container .after-head h5{
	color: rgb(255, 255, 255);
	font-weight: 500;
	padding-top: 5vh;
	/* line-height: 5vh; */
}
.image-container .after-head button{
	background-color: #213EFF;
	color: white;
	margin-top: 5vh;
	font-weight: 500;
}
.trans{
	position: fixed;
	width: 100%;
    backdrop-filter: blur(12px) saturate(100%);
    -webkit-backdrop-filter: blur(12px) saturate(50%);
}
.navbar img{
	top:-2;
	left: 0;
	margin-top: -2vh;
	margin-left: 0%;
}
.navbar-brand img {
    width: 320px;
}
.video img{
	border-radius: 30px;
}
.video .main-head img{
	transform-style: preserve-3d;
}
.video{
	margin-top: 10%;
}
.video iframe{
	border-radius: 25px;
}
.video .side-quotes h4{
	font-weight: 500;
	text-align: center;
}
.video-quote{
	display: flex;
}
.side-quotes h4 b{
	font-weight: 700;
}
.description{
	background-color: #FFFFF0;
	margin-top: 10%;
}
.description-col{
	display: flex;
}
.description .side-image{
	margin-top: -4%;
}
.description p{
	padding-top: 5px;
	font-weight: 300;
}
.description .side-image .img-1{
	padding-top: 3%;
	transform: rotate(20deg);
	margin-bottom: 6vh;
} 
.description .side-image .img-2{
	margin-bottom: 5vh;
    transform: rotate(-20deg);
} 
.description img{
	border-radius: 10%;
}
.description .up-ques{
	display: flex;
}
.description .q1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description .q2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description .q3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.description .q1 h3{
	font-weight: 700;
	text-align: center;
}
.description p{
	text-align: center;
	font-size: 18px;
}
.description .q2 h3{
	font-weight: 700;
}

.description .q3 h3{
	font-weight: 700;
}

.programs{
	margin-top: 5%;
}
.programs img{
	border-radius: 20px;
}
.programs h4{
	font-family: 'Poppins', sans-serif;
    font-size: 30px;
	font-weight: 700;
}
.programs .block-sec button{
	background-color: #213EFF;
	border-color:#213EFF; ; 	
}
.programs .side-image{
	margin-top: 10%;
}
.programs .side-image .img-1{
	padding-bottom:5vh;
	padding-top: 5vh;
	border-radius: 20px;
    transform: rotate(20deg);
}
.programs .side-image .img-2{
	padding-top: 15vh;
	padding-bottom: 25vh;
    transform: rotate(-20deg);
}
.programs .block-sec{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}
.programs .block-sec h4{
	text-align: center;
}
.programs .block-sec p{
	font-size: 18px;
}
.border-red{
	width:70%;
	padding-bottom: 20px;
	border-top: 5px solid #E42003;
}

.border-purple{
	width:70%;
	padding-bottom: 20px;
	border-top: 5px solid #8F61EB;
}
.border-blue{
	width:70%;
	padding-bottom: 20px;
	border-top: 5px solid #213EFF;
}
.block-sec{
	padding-bottom: 7vh;
}
.block-1 h5{
	font-weight: 700;
	text-align: center;
}
.block-2 h5{
	font-weight: 700;
	text-align: center;
}
.block-1 p{
	text-align: center;
	/* font-weight: 600; */
}
.programs button{
	background-color: #E42003;
}

.block-2 p{
	text-align: center;
	/* font-weight: 600; */
}
.block-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.prog-cards{
	display: flex;
	text-align: center;
}
.prog-cards button{
    font-weight: 500;
}
.card{
	margin:5% 5%;
	background-color: ivory;
	padding:2px 5px;
	display: flex;
	align-items: center;
	justify-content: center;  
	transition: 0.5s all ease;
	border:none
}
.card h5{
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
    text-align: center;
    font-weight: 900px;
}
.card button{
	padding-left: 2px;
	padding-right: 2px;
	margin-bottom: 7%;
	width: 50%;
	align-items: center;
	background-color:#E42003 ;
}
.card p{
	font-weight: 500;
	font-size: 15px;
	padding:0 3px;
}
.card:hover{
	color:ivory;
	transform: scale(1.05);
}
.partners{
	margin-top: 5%;
}
.programs h4{
	padding-top: 2vh;	
}
.partners .partners-head h4{
	font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.partners-img{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leader{
	margin-top: 10%;	
}
.leader img{
	margin-top: 12%;
}
.leader .egg{
	margin-top: -40vh;
}
.egg img{
	border-radius: 25px;
}
.leader h2{
	font-weight: 600;
	padding-bottom: 2vh;
	line-height: 1.3em;
}
.leader p{
	line-height: 1.8em;
}
.leader button{
	background-color: #213EFF;
	color: white;
}

.leader .gold-para{
	color: #213EFF;
	padding-top: 20px;
	padding-bottom: 10px;
	white-space: nowrap;
	font-weight: 600;
}
.leader .quote-line{
	margin-top: 10h;
	font-size: 15px;
	margin-bottom: 5vh;
}
.leader .quote{
	color: #213EFF;
	font-weight: 600;
	font-size: 38px;
}
.leader .top-img img{
	border-radius: 25px;
}
.leader .lead{
	text-align: center;
}
.leader .lead img{
	border-radius: 25px;
	
}
.leader h5{
	font-size: 28px;
	font-weight: 500;
}
.about{
	margin-top: 10%;	
}
.about h1{
	text-align: center;
	font-weight: 500;
	font-size: 50px;
}

.about .badge img{
	 height: 85%;
	 width: 15%;
	float: right;
}
.about .para{
	margin-top: 3vh;
	
}
.about h3{
	margin-top: 10vh;
	font-weight: 500;
}
.about .about-content{
	display: flex;
	margin-top: 5vh;
}
.about .about-content p{
	line-height: 1.8em;
	font-weight: 300;
}
.about .about-content img{
	width: 100%;
	height: 65%;
	margin-top: 15vh;
	border-radius: 20px;
	/* padding-left: 10%; */
}
.carousel-partners{
	display: flex;
	justify-content: center;
	align-items: center;
}
.people{
	margin-top: 3%;
}
.people h4{
	font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.res-circle {
	width: 370px;
	border-radius: 50%;
	background: #bcd6ff;
	position: relative;
  }
  .res-circle::after {
	content: "";
	display: block;
	padding-bottom: 100%;
  }   
 .circle-txt {
	position: absolute;
	padding-left: 2rem;
	padding-right:2rem;
	top:25%;
	bottom: 30%;
	width: 100%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 12px;
  }
  blockquote{
	position: relative;
  }
  blockquote:before {
padding-left: 10px;
content: "\201C";
font-size: 50px;
left:30px;
top: -70px;
color: #353535;
}
.contact-us{
	margin-top: 10%;
	margin-bottom: 10%;
}
.contact h1{
	text-align: center;
	font-weight: 800;
}
.contact h5{
	color: #213EFF;
	font-weight: 700;
}
.contact-half{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fdfdfa;
}
.social-contactus a{
	/* margin-top: 10vh; */
	padding-left: 10px;
	font-size: 20px;
	text-decoration: none;
	color: rgb(63, 63, 63);
}

 .msg{
	border-right: 1px solid gray;
	padding-left: 35px;
	height: 200px;
}
.msg-btn{
	padding:0.5rem 0.75rem;
	border-radius: 5px;
	margin-top: 2vh;
	float: right;
	background-color: #0416a0;
	color: #FFF;
	font-weight: 700;
	border: none;
}
.page-content{
	display: flex;
	
}
.page-layout{
	display: flex;
	justify-content: center;
	align-items: center;
}
.people-cards{
	width: 100%;
	position: relative;

}

  .people .content{
	  width: 50%;
  }
  .testimonials{
	  margin-top: 5vh;
  }
  .testimonials h4{
	  font-weight: 600;
  }
  .carousel {
	  margin-top: 5%;
  }
  .carousel-cell {
	width: 50%;
	height: 250px;
	margin-right: 10px;
	border-radius: 25px 25px;
	counter-increment: gallery-cell;
  }
  .carousel-cell:before {
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 10px;
	color: white;
	word-wrap:break-word
  }
  .carousel-cell p{
	  text-align: center;
	  margin:30px 30px;
	  font-size: 14px;
  }
 
  .details{
	  margin:0 auto;
	  margin-bottom: 5vh;
  }
  .details form{
	  margin-top: 5%;
  }
  .carousel-cell p{
	  color: black;
  }
  .social i{
	  color: #040f55;
	  background-color: #f6f5f5;
	  height: 32px;
	  width: 32px;
	  padding:8px 10px;
	  border-radius: 5px;
	  font-size: 16px;
  }
  .image-cropper img{
	  height: 40%;
  }
  /* blockquote{
	  position: relative;
	  content: "\201C";
	  font-size: 100px;
	  font-family: Georgia, 'Times New Roman', Times, serif;
  } */
  blockquote:before {
    padding-left: 10px;
    content: "\201C";
    font-size: 100px;
    left: 30px;
    top: -70px;
	font-family: Georgia, 'Times New Roman', Times, serif;
    color: #353535;
}
  /* blockquote::before{
	  display: block;
	  position: absolute;
	  
  } */
    #more {
	  display: none;}
  .testimonial{
	  text-align: center;
	  margin: 20px 30px 40px; 
  }
  .testimonial-head h4{
	  margin-top: 5vh;
  }
  .testimonial button{
	  padding:5px 15px;
	  border-radius: 10px;
	  background-color:#213EFF ;
	  color: #ffffff;
	  border:none
  }
  .testimonial-profile{
	  margin-bottom: -7%;
	  margin-top: -5%;
  }
  .testimonial-profile h3{
	padding-bottom: 1vh;
  }
  .testimonial .pic{
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 25px;
  margin-bottom: 15px;
  overflow: hidden;
  }
  .testimonial .pic img{
  width: 100%;
  height: auto;
  }
  .testimonial .description{
  padding: 0 10px 10px;
  font-size: 15px;
  color: #333;
  line-height: 30px;
  border-radius: 25px;
  background-color: #ffffff;
  /*     border-bottom: 4px solid #6b2014; */
  /*     box-shadow: 0 7px rgba(0, 0, 0, 0.1), 0 5px #e4ac01; */
  margin-bottom: -5vh;
  text-align: center;
  }
  .testimonial .title{
  display: block;
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 600;
  /* color: #6b2014; */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  }
  .testimonial .post{
  display: block;
font-size: 15px;
/*     color: #e4ac01; */
text-transform: capitalize;
  text-align: center;
  }
  .owl-theme .owl-controls{ margin-top: 0; }
  .owl-theme .owl-controls .owl-page span{
width: 15px;
height: 15px;
border-radius: 50%;
opacity: 0.8;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
transition: all 0.3s ease 0s;
  }
  /* .owl-theme .owl-controls .owl-page.active span{ background: #e4ac01; } */
  @media only screen and (max-width: 479px){
      .testimonial{ padding: 20px 15px 40px; }
      .testimonial .description{ padding: 0 5px 20px; }
  }




.line{
    border-radius: 5px;
    margin-bottom: 3vh;
	width: 23%;
    height:8px;
    background: #E42003;
	background: -moz-linear-gradient(left, #E42003 0%, #E42003 30%, #8F61EB 30%, #8F61EB 60%, #213EFF 60%, #213EFF 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#E42003), color-stop(30%,#213EFF), color-stop(30%,#8F61EB), color-stop(60%,#8F61EB), color-stop(60%,#213EFF), color-stop(100%,#213EFF));
	background: -webkit-linear-gradient(left, #E42003 0%,#E42003 30%,#8F61EB 30%,#8F61EB 60%,#E42003 60%,#E42003 100%);
	background: -o-linear-gradient(left, #E42003 0%,#E42003 30%,#8F61EB 30%,#8F61EB 60%,#213EFF 60%,#213EFF 100%);
	background: -ms-linear-gradient(left, #E42003 0%,#E42003 30%,#8F61EB 30%,#8F61EB 60%,#213EFF 60%,#213EFF 100%);
	background: linear-gradient(to right, #E42003 0%,#E42003 30%,#8F61EB 30%,#8F61EB 60%,#213EFF 60%,#213EFF 100%);
}

button:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

@media only screen and (max-width:350px){
	.head button{
		font-size: 20px;
		margin-bottom: 5%;
		margin-left: 30vh;
	}
	.head iframe{
		margin-top: 5vh;
		margin-left: 26vh;
		width: 220px;
		height: 230px;
		margin-bottom: 5vh;
	}
	.mystory{
        text-align: center;
        margin-top:20%;
	}
	
	.leader{
		margin-top: 25vh;
	}
	.navbar-brand img {
		width: 200px;
	}
	.image-container{
		margin-top: 20vh;
	}
	.image-container h1{
		margin-top: 5vh;
	}
	.image-container img{
		height:700px;
	}
	.image-container .after{
		height:700px;
	}
	
	.image-container .after iframe{
		height: 200px;
		border-radius: 15px;
	}
	.video-quote .main-head{
		text-align: center;
		margin-top: 30vh;
	}
	.video-quote{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description-col{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description .side-image .img-1{
		transform: rotate(0deg);
		margin-bottom: 1vh;
    } 
    .description .side-image .img-2{
		transform: rotate(0deg);
		margin-bottom: 1vh;
	}
	.up-ques{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.block-sec{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description-col .side-image{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2vh;
	}
	.block-sec .block-1{
		margin-bottom: 5vh;
	}
	.block-sec .block-1 p{
		font-weight: 700;
	}
    .mystory{
        text-align: center;
        margin-top:60%;
    }
    .mystory h4{
        font-size: 35px;
    }
    /* .mystory line{
        align-content: center;
    }
    .mystory .side-image .img-1{
        transform: rotate(0deg);
    } 
    .mystory .side-image .img-2{
        transform: rotate(0deg);
    } */
    .programs{
        text-align: center;
		margin-bottom: 5vh;
    }
    .programs .side-image .img-1{
        transform: rotate(0deg);
		/* margin-bottom: -15vh; */
    }
    .programs .side-image .img-2{
        transform: rotate(0deg);
		margin-top: -15vh;
		margin-bottom: -25vh;
    }
    .prog-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .programs h4{
        font-size: 35px;
	}
	.partners {
		text-align: center;
	}
	.partners-head{
		margin-bottom: 5vh;
	}
	.partners-img{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonials h4{
		text-align: center;
	}
    .line{
        margin:auto;
        width: 55%;
	}
	.leader{
		margin-top: 15vh;	
	}
	.leader .lead img{
		height: 75%;
		margin-bottom: 5vh;
	}
	.leader h2{
		margin-top: 3vh;
		text-align: center;
	}
	.leader .egg {
		width: 90%;
		margin-top: 4vh;
	}
	.leader .page-content h2{
		white-space: normal;
		
	}
	.leader .gold-para {
			white-space: normal;
		}
	.leader .page-layout .gold-para{
		font-weight: 600;
	}
	.about{
		margin-top:20vh;
	}
	.leader .top-img img{
		height: 60%;
	}
	.people h4{
		text-align: center;
	}
	.center-class{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.carousel-partners{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonial-head h4{
		text-align: center;
	}
	.about-content .owner img{
		height: 70%;
	}
	.about-content .owner{
		margin-top: -8vh;
		margin-bottom: 5vh;
		text-align: center;
	}
	.about .badge img{
		width: 60%;
		height: 90%;

	}
	/* .image-container{
		margin-top: 30vh;
	} */
	.leader .quote-line{
		font-size: 10px;
	}
	.image-container .after{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0vh;
	}
	.image-container .after h1 {
		margin-top: 50vh;
		text-align: center;
	}
	.image-container .after h5{
		text-align: center;
	}
	.image-container .after .after-head{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.image-container .after button{
		margin-bottom: 5vh;
	}
	.image-container iframe{
		height: 100%;
	}
	.contact-us{
		margin-top: 15vh;
	}
	.contact-half{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-half h1 ,h3,h5 ,p{
		text-align: center;
	}

	.page-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.page-content .top-img{
		text-align: center;
	}
	.page-content h2{
		text-align: center;
	}
	.top-img{
		height: 350px;
	}
	.page-layout{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (min-device-width:330px) and (max-width: 600px) {

	body{
		overflow:auto;
	}

	.navbar-brand img{
		width: 250px;
	}
	.image-container{
		margin-top: 20vh;
	}
	.image-container h1{
		margin-top: 5vh;
	}
	.image-container img{
		height:700px;
	}
	.image-container .after{
		height:700px;
	}
	
	.image-container .after iframe{
		height: 200px;
		border-radius: 15px;
	}
	.video-quote .main-head{
		text-align: center;
		margin-top: 30vh;
	}
	.video-quote{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description-col{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description .side-image .img-1{
		transform: rotate(0deg);
		margin-bottom: 1vh;
    } 
    .description .side-image .img-2{
		transform: rotate(0deg);
		margin-bottom: 1vh;
	}
	.up-ques{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.block-sec{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.description-col .side-image{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2vh;
	}
	.block-sec .block-1{
		margin-bottom: 5vh;
	}
	.block-sec .block-1 p{
		font-weight: 700;
	}
    .mystory{
        text-align: center;
        margin-top:60%;
    }
    .mystory h4{
        font-size: 35px;
    }
    /* .mystory line{
        align-content: center;
    }
    .mystory .side-image .img-1{
        transform: rotate(0deg);
    } 
    .mystory .side-image .img-2{
        transform: rotate(0deg);
    } */
    .programs{
        text-align: center;
		margin-bottom: 5vh;
    }
    .programs .side-image .img-1{
        transform: rotate(0deg);
		/* margin-bottom: -15vh; */
    }
    .programs .side-image .img-2{
        transform: rotate(0deg);
		margin-top: -15vh;
		margin-bottom: -25vh;
    }
    .prog-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .programs h4{
        font-size: 35px;
	}
	.partners {
		text-align: center;
	}
	.partners-head{
		margin-bottom: 5vh;
	}
	.partners-img{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonials h4{
		text-align: center;
	}
    .line{
        margin:auto;
        width: 55%;
	}
	.leader{
		margin-top: 15vh;	
	}
	.leader .lead img{
		height: 75%;
		margin-bottom: 5vh;
	}
	.leader h2{
		margin-top: 3vh;
		text-align: center;
	}
	.leader .egg {
		width: 90%;
		margin-top: 4vh;
	}
	.leader .page-content h2{
		white-space: normal;
		
	}
	.leader .gold-para {
			white-space: normal;
		}
	.leader .page-layout .gold-para{
		font-weight: 600;
	}
	.about{
		margin-top:20vh;
	}
	.leader .top-img img{
		height: 60%;
	}
	.people h4{
		text-align: center;
	}
	.center-class{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.carousel-partners{
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.testimonial-head h4{
		text-align: center;
	}
	.about-content .owner img{
		height: 70%;
	}
	.about-content .owner{
		margin-top: -8vh;
		margin-bottom: 5vh;
		text-align: center;
	}
	.about .badge img{
		width: 60%;
		height: 90%;
	}
	/* .image-container{
		margin-top: 30vh;
	} */
	.leader .quote-line{
		font-size: 10px;
	}
	.image-container .after{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 0vh;
	}
	.image-container .after h1 {
		margin-top: 50vh;
		text-align: center;
	}
	.image-container .after h5{
		text-align: center;
	}
	.image-container .after .after-head{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.image-container .after button{
		margin-bottom: 5vh;
	}
	.image-container iframe{
		height: 100%;
	}
	.contact-us{
		margin-top: 15vh;
	}
	.contact-half{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.contact-half h1 ,h3,h5 ,p{
		text-align: center;
	}

	.page-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.page-content .top-img{
		text-align: center;
	}
	.page-content h2{
		text-align: center;
	}
	.top-img{
		height: 350px;
	}
	.page-layout{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.about-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (min-width: 410px){
	.head h1{
		padding-top: 5vh;
		font-size: 15px;
	}
	.head button{
		margin-left: 18vh;
		margin-top: 2%;
	}
} 

@media only screen and (min-width: 768px) {

	.head h1{
		padding-top: 5vh;
		font-size: 20px;
	}

	.head button{
		font-size: 20px;
	
		margin-left: 28vh;
	}

	.head iframe{
		margin-top: 2vh;
		margin-left: 30vh;
		width: 100px;
		height: 100px;
	}
	.description .side-image .img-1{
		padding-bottom: 15%;
        transform: rotate(20deg);
        width: 100%;
	}
	.description .side-image .img-2{
		padding-bottom: 22%;
        transform: rotate(-20deg);
        width: 100%;
	}
	.programs .side-image .img-1{
		padding-bottom: 25%;
        transform: rotate(20deg);
        width: 100%;
	}
	.programs .side-image .img-2{
		padding-bottom: 22%;
        transform: rotate(-20deg);
        width: 100%;
	}
   .image-container{
	   margin-top: 15vh;
   }
   .image-container h1{
	   margin-top: 10vh;
   }
   
}

@media only screen and (min-width: 1024px) {
	
	.semi{
		height: 450px;
		top:-20px;
	}
	.head h1{
		padding-top: 15vh;
		font-size: 25px;
	}
	.head button{
		font-size: 20px;
		margin-left: 40%;
		margin-top: 10vh;
		padding: 10px 10px 10px 10px;

	}
	.head iframe{
		margin-top: 8vh;
		margin-left: 34%;
		width: 330px;
		height: 250px;	
	}
}
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
	width: 100%;
	position: relative;
	height: auto;
	background-color: #040f55;
	margin-top:8vh;
  }
  .footer .col {
	width: 270px;
	height: auto;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 20px 20px 20px;
	color:#f6f5f5 ;
  }
  .footer .col h1 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 0px 5px 0px;
	color: #f6f5f5;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.250em;
  }
  .footer .col ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  .footer .col ul li {
	color: #f6f5f5;
	font-size: 14px;
	font-family: inherit;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
  }
  .footer .col ul li a{
	  text-decoration: none;
	  color: #f6f5f5;
	  /* background-colo; */
  }
  .footer .social ul li a{
	  color: #040f55;
	  background-color: #f6f5f5;
	  border-radius: 8px;
	  font-size: 18px;
	padding: 4px 7px 4px 7px;
  }
  .footer .col ul li i{
	  padding-right:5px;
  }
  .social ul li {
	display: inline-block;
	padding-right: 5px !important;
	
  }
  .social ul li a{
	  font-size: 20px;
	  color: #f6f5f5;
	  padding-left: 10px;
	  margin-top: 1vh;
  }
  
  .footer .col ul li:hover {
	color: #ffffff;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
  }
  .clearfix {
	clear: both;
  }
  @media only screen and (min-width: 1280px) {
	.contain {
	  width: 1200px;
	  margin: 0 auto;
	}
  }
  @media only screen and (max-width: 1139px) {
	.contain .social {
	  width: 1000px;
	  display: block;
	}
	.social h1 {
	  margin: 0px;
	}
  }
  @media only screen and (max-width: 950px) {
	.footer .col {
	  width: 33%;
	}
	.footer .col h1 {
	  font-size: 14px;
	}
	.footer .col ul li {
	  font-size: 13px;
	}
  }
  @media only screen and (max-width: 500px) {
	  .footer .col {
		width: 50%;
	  }
	  .footer .col h1 {
		font-size: 14px;
	  }
	  .footer .col ul li {
		font-size: 13px;
	  }
  }
  @media only screen and (max-width: 340px) {
	.footer .col {
	  width: 100%;
	}
  }
